
.container{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    @import{ url('c:\Users\Daniel Orhin\Desktop\project\New folder\PENTECOST.jpeg')}
h1,{text-decoration: overline ;}
P{text-decoration-color: aqua;}